<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Lokal Market</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% stylesheets
        'css/screen.css' 
        'css/bootstrap.min.css'
        'css/bootstrap-responsive.min.css'
        'css/bootstrapcolors.css' 
        debug=false
        %}
        <link href="{{ asset_url }}" rel="stylesheet">
        {% endstylesheets %} 
        <style>
        @import url("http://fonts.googleapis.com/css?family=Faster+One");
        </style>  
    </head>
    <body>
    
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Lokal Market</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
            {% if username is defined %}
              <a href="{% if username is defined %} {{ path('market_homepage') }} {% else %} {{ path('market_about') }} {% endif %}" class="navbar-link"><i class="icon-wrench"></i>Admin</a>              
              {% if username is defined %}
              <a href="#" class="navbar-link"><i class="icon-off"></i>Logoff</a>
              {% endif %}
            </p>
            <ul class="nav">
              <li class="{% if homeActive is defined %}active{% endif %}"><a href="{{ path('market_homepage') }}">Home</a></li>
              <li><a class="{% if aboutActive is defined %}active{% endif %}"href="{{ path('market_about') }}">About</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              {% block sidebar %}
              <li class="nav-header">Cashier</li>
              <li class="active"><a href="#"><i class="icon-shopping-cart"></i>Sell</a></li>
              <li><a href="#"><i class="icon-search"></i>Search</a></li>
              <li class="nav-header">Balance</li>
              <li><a href="#"><i class="icon-user"></i>Customer</a></li>
              <li class="nav-header">Help</li>
              <li><a href="#"><i class="icon-question-sign"></i>FAQ</a></li>
              {% endblock %}
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          {% block header %}
          <div class="hero-unit">
            <h1>Welcome to the <spam class="brand small">Lokal Market</spam></h1>
            <p>A software designed for local market and small shops.</p>
            <p><a class="btn btn-primary btn-large" href="http://www.github.com/kinncj/lokal">Learn more &raquo;</a></p>
          </div>
          {% endblock %}
          {% block content %}
          <div class="row-fluid">
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
          <div class="row-fluid">
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
          {% endblock %}
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; <a href="http://www.github.com/kinncj/lokal">Lokal Market 2012</a></p>
      </footer>

    </div><!--/.fluid-container-->
    {% javascripts 
        'js/*.min.*' 
        debug=false
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
  </body>
</html>